name: Tests

on: [push]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: php-actions/composer@v1
    - name: PHPUnit
      uses: php-actions/phpunit@v1
      with:
        config: ./phpunit.xml.dist
